In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Restaurant_Reviews.tsv', delimiter='\t')

In [3]:
import nltk

In [4]:
import re
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [5]:
df

                                                Review  Liked
0                             Wow... Loved this place.      1
1                                   Crust is not good.      0
2            Not tasty and the texture was just nasty.      0
3    Stopped by during the late May bank holiday of...      1
4    The selection on the menu was great and so wer...      1
..                                                 ...    ...
995  I think food should have flavor and texture an...      0
996                           Appetite instantly gone.      0
997  Overall I was not impressed and would not go b...      0
998  The whole experience was underwhelming, and I ...      0
999  Then, as if I hadn't wasted enough of my life ...      0

[1000 rows x 2 columns]

In [6]:
corpus = []
ps = PorterStemmer()
for i in range(0,1000):
    show = re.sub('[^a-zA-Z]',repl=' ', string=df['Review'][i])
    show = show.lower()
    show = show.split()
    show = [ps.stem(word) for word in show if not word in stopwords.words('english')]
    show = ' '.join(show)
    corpus.append(show)

### Creating the Bag of Words model

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

In [8]:
cv = CountVectorizer(max_features=1500)

In [9]:
X = cv.fit_transform(corpus).toarray()

In [10]:
y = df.iloc[:, 1].values

In [11]:
X

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

### Creating a pickle file for the CountVectorizer

In [12]:
import pickle
pickle.dump(cv, open('transform.pkl', 'wb'))

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
from sklearn.model_selection import cross_val_score

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=0)

In [16]:
from sklearn.naive_bayes import MultinomialNB

In [17]:
c = MultinomialNB(alpha=0.2)
c.fit(X_train, y_train)

MultinomialNB(alpha=0.2, class_prior=None, fit_prior=True)

In [18]:
c.score(X_test,y_test)

0.785

In [19]:
pickle.dump(c, open(' restaurant_review.pkl', 'wb'))